body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}
h1 {
    color: #333;
    text-align: center;
}
p {
    color: #000000;
    line-height: 1.6;
}   
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.container ul {
    list-style-type: disc;
    padding-left: 20px;
}
.container ul li {
    margin-bottom: 10px;
}
.container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.container table, .container th, .container td {
    border: 1px solid #ddd;
}
.container th, .container td {
    padding: 12px;
    text-align: left;
}
.container th {
    background-color: #f2f2f2;
}
.container code {
    background-color: #f8f8f8;
    padding: 2px 4px;
    border-radius: 4px;
}   